{% extends 'base.html' %}

{% block div %}
    {% for post in post_list %}			
		<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
			<figure>
				<a href="{{ post.get_absolute_url }}"><img src="{{ post.img1 }}" alt="Image" class="img-responsive"></a>
			</figure>
			<span class="fh5co-meta"><a href="#">{{ post.category.name }}</a></span>
			<h2 class="fh5co-article-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
			<span class="fh5co-meta fh5co-date">{{ post.created_time }}</span>
		</article>
	{% endfor %}
{% endblock div %}